---
layout: default
---

<div class="page">

    <div class="editable">
      <h2>Yoga classes<em></em></h2>
      <p>I teach in Abingdon and Oxford. My classes are open to all, from beginners to more experienced students, and taught in a relatively slow 'hatha' style - beginners are always welcome. Two of my classes are&nbsp;<em>ultra slow and gentle</em>, and are aimed at older students and anyone with health issues looking for extra support and encouragement.</p>
      <p>If y0u have specific health issues, I am also able to offer Yoga Therapy sessions (one to one) in my home studio in north Oxford (or your home by arrangement).</p>
      <p>On <strong></strong><strong>Mondays</strong>, I offer two classes in Abingdon at 12pm and 7.30pm, in roomy studios: all levels welcome. Drop in any week.&nbsp;</p>
      <p>On <strong>Tuesdays,</strong> I offer a small&nbsp;<em>ultra slow and gentle</em> class, where you can use a chair if you wish, in <strong>Summertown</strong> at 2.30pm. The aim is to work on keeping mobile, and come along any time. &nbsp;In the evenings, I offer a class in the city centre for Oxford University staff and friends at 6pm.</p>
      <p>On <strong>Wednesdays</strong>, I offer three classes in Abingdon: a &nbsp;<em>ultra&nbsp; slow and gentle</em> class at 3.45pm, plus two after work classes at 5.15 and 7.15pm. &nbsp;Booking is essential for these small group sessions in the Sanctuary at St Ethelwolds House where numbers are limited to eight.&nbsp;</p>
      <p><strong>DATES </strong></p>
      <p><strong>The next half term starts on Monday 24 February and runs up to 1 April. &nbsp;</strong><strong>&nbsp;</strong>For more details click <a href="/classes/">Timetable of classes</a></p>
      <p><em>My philosophy is you don't need to be bendy to do yoga! In fact, quite the opposite, it's the stiff and creaky among us who stand to benefit the most. I strongly believe that yoga should be for everyone, of all ages and all levels of fitness. I teach in a gentle hatha style that is ideal for beginners, sports people with tight muscles, and older students, as well as more experienced students seeking a deeper practice. It's never too late to start&nbsp; <a href="/yoga/">Read more about yoga here. </a></em><strong></strong></p>
      <p><strong>Cost</strong> Drop in &nbsp;&pound;10, but I offer a 'pass' which works out at around &pound;8 per class, bookable in advance. If you are interested in one-to-one, or small group teaching, please get in touch, especially if you have health issues. Email yoga@lucytennyson.com or call 0771 520 7784</p>
      <p>Special rates for students in full time education who come with a parent. I have four mums and daughters currently coming to class. Dads and sons where are you? Come and try a class!</p>
      <p><strong>See below for my latest weekly class blog</strong></p>
    </div>

     <div class="wrapper">
<ul class="post-list">
  {% for post in paginator.posts %}
  <li>
    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <section class="post-excerpt" itemprop="description">
      <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
    </section>
    <section class="post-meta">
      <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div>

    </section>
  </li>
  {% if forloop.last == false %}
  <hr />
  {% endif %}
  {% endfor %}
</ul>

<nav class="pagination" role="navigation">
  <p>
    {% if paginator.next_page %}
    <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    {% else %}
    <span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
    </span>
    {% endif %}
    <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
      <a class="newer-posts" href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      {% else %}
      <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      {% endif %}
    {% else %}
    <span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
    </span>
    {% endif %}
  </p>
  <p>
    <a href="{{ site.baseurl }}/posts">View All Posts</a>
  </p>
</nav>

</div>
</div>

      <div class="editor-link">
        <!-- Editor Link to site status -->
        <a href="cloudcannon:status">Link to Site Status and Recent Activity</a>
      </div>

