---
layout: default
---

<div class="page">

    <div class="editable">
      <h2>Yoga classes<em></em></h2>
      <p>I teach in a relatively gentle 'hatha' style to suit all ages and levels of fitness, and welcome beginners. I teach both in the studio (from mid June) and online using Zoom. I am now teaching Monday - Wednesday up to the end July.&nbsp;</p>
      <p>I returned to the studio in mid-June at St Ethelwolds in Abingdon,&nbsp; with a new afternoon class at 2pm, focussing on movement and flexibility which welcomes beginners. The popular Wednesday evening classes start at 5.15pm and 7pm.&nbsp; Numbers are currently restricted to six. I teach online using Zoom on Mondays at 6pm (all levels), and Tuesdays 5-6pm (beginners/gentle/stretch).</p>
      <p>I teach outdoors when the weather allows.&nbsp;</p>
      <p><strong>Current timetable &nbsp;</strong></p>
      <p><strong>Monday</strong>s</p>
      <p>2-3pm Afternoon yoga ( move + energise + breathe) St Ethelwolds.</p>
      <p>6-7PM Hatha flow (all levels welcome) Zoom.</p>
      <p><strong><strong>Tuesday</strong></strong></p>
      <p>5-6PM (slow and gentle + end of the day relax) Zoom.</p>
      <p><strong>Wednesdays</strong></p>
      <p>5.15-6.30PM (slow and gentle + end of the day relax) St Ethelwolds</p>
      <p>7pm-8.15PM (easy pace ending with a relaxing restorative posture) St Ethelwolds</p>
      <p><strong>Thursday </strong>no classes</p>
      <p><strong>See below for my latest weekly class blog</strong></p>
    </div>

     <div class="wrapper">
<ul class="post-list">
  {% for post in paginator.posts %}
  <li>
    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <section class="post-excerpt" itemprop="description">
      <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
    </section>
    <section class="post-meta">
      <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div>

    </section>
  </li>
  {% if forloop.last == false %}
  <hr />
  {% endif %}
  {% endfor %}
</ul>

<nav class="pagination" role="navigation">
  <p>
    {% if paginator.next_page %}
    <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    {% else %}
    <span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
    </span>
    {% endif %}
    <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
      <a class="newer-posts" href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      {% else %}
      <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      {% endif %}
    {% else %}
    <span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
    </span>
    {% endif %}
  </p>
  <p>
    <a href="{{ site.baseurl }}/posts">View All Posts</a>
  </p>
</nav>

</div>
</div>

      <div class="editor-link">
        <!-- Editor Link to site status -->
        <a href="cloudcannon:status">Link to Site Status and Recent Activity</a>
      </div>
